* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  background-color: black;
  color: #fff;
}

.main-container {
  height: auto;
  padding: 0 120px;
  background-color: black;
}

.top-text {
  width: 100%;
  height: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.top-text p {
  max-width: 600px;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
}

.top-text h1 {
  font-size: 3.625rem;
  font-weight: 600;
  line-height: 1.1;
}
.bottom-text {
  width: 100%;
  height: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.bottom-text p {
  max-width: 600px;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
}

.bottom-text h1 {
  font-size: 3.625rem;
  font-weight: 600;
  line-height: 1.1;
}

.mtb-100 {
  margin: 100px 0;
}
.mtb-140 {
  margin: 140px 0;
}

.collapsible-container {
  width: 100%;
  padding: 0 30px;
  height: 712px;
  background-color: #e9e1ee;
  border: 1px solid #f7f0ff;
  border-radius: 2rem;
  /* z-index: auto; */
}

.collapsible-container .phase {
  display: flex;
  align-items: center;
  margin-top: 20px;
  width: 100%;
  height: 2.5rem;
  justify-content: space-between;
}
.collapsible-container .phase span {
  color: #9476ec;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 600;
}
.collapsible-container .phase .frame {
  height: 100%;
  width: 100px;
  background-color: #9476ec;
  border-radius: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.collapsible-container .phase .frame span {
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  border-radius: 0.25rem;
  padding: 0.625rem 0.875rem;
  font-size: 0.75rem;
  font-weight: 600;
  color: #fff;
}

.parallelXImage-container {
  height: 530px;
  width: 100%;
  display: flex;
  gap: 50px;
  justify-content: center;
  /* padding: 0 120px; */
}

.parallelXImage-container .parallelXImage-left-part {
  height: 100%;
  width: 420px;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
}
.parallelXImage-container .parallelXImage-left-part .left-part-btn {
  height: 3rem;
  width: 12rem;
  background-color: transparent;
  font-weight: 400;
  color: #fff;
  cursor: pointer;
  border: 2px solid #fff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.parallelXImage-container .parallelXImage-left-part .left-part-btn:hover {
  background-color: #1468fb;
  border: 2px solid #1468fb;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}
.parallelXImage-container .parallelXImage-left-part .left-part-btn svg {
  fill: #fff;
}

.parallelXImage-container .parallelXImage-right-part {
  height: 100%;
  width: calc(100% - 370px);
  max-width: 887px;
  overflow-y: auto;
}
.parallelXImage-container
  .parallelXImage-right-part
  .parallelXImage-image-container {
  height: 100%;
  width: 95.5%;
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 2px;
  background: rgb(255 255 255/50%);
  border-radius: 100px;
}
::-webkit-scrollbar-thumb {
  background-color: #116bfb;
}

.parallelXImage-container
  .parallelXImage-right-part
  .parallelXImage-image-container
  img {
  width: 100%;
  height: 100%;
  border-radius:10px;
}
